@page
@using Coordinare.Models
@model Coordinare.Pages.Schedule.ScheduleModel
@{
}
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

@if (Model.BookedEvents != null || Model.BookedEvents.Count != 0)
{
    <div class="tab">
        @foreach (var d in Model.GetDateDict())
        {
            bool b = true;
            @if (b)
            {
                <button class="tablinks" onclick="openTab(event, '@d.Key')" id="defaultOpen">@d.Value</button>
                b = false;
                continue;
            }
            <button class="tablinks" onclick="openTab(event, '@d.Key')">@d.Value</button>
        }
    </div>
    @foreach (var d in Model.GetDateDict())
    {
        <div id="@d.Key" class="tabcontent">
            <table class="table table-bordered">
                @foreach (var e in Model.BookedEvents)
                {

                    @if (d.Key == e.DateTime.Date)
                    {
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Room
                                </th>
                                @*<th>
                                        Time til start
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (d.Key.TimeOfDay == e.DateTime.Date.TimeOfDay)
                                {

                                    <td>
                                        @e.DateTime.ToString("t")
                                    </td>

                                }

                                <td>
                                    Event: @e.EventName
                                    <br />
                                    Speaker: @e.Speaker.Name
                                    @if (e.Room_ID != null)
                                    {
                                    <th>
                                        @e.Room_ID
                                    </th>
                                }
                                else
                                {
                                    <th>

                                    </th>

                                }
                                    @*<td>
                                            @Model.CalculateTime(e.DateTime, DateTime.Now).Result
                                        </td>*@
                                    <td>
                                        <button type="button" class="btn-info" data-toggle="modal" data-target="#idModal">Identification</button>

                                        <div id="idModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Door pass</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Show this at the door</p>
                                                        <p>Pass for event no.: @e.EventName</p>
                                                        @foreach (var b in Model.Bookings)
                                                        {
                                                            @if (b.Event_ID == e.Event_ID)
                                                            {
                                                                @if (b.Special_Seat)
                                                                {
                                                                    <p>This user has a special seat</p>
                                                                }
                                                                else
                                                                {
                                                                    <p>This user has a standard seat</p>
                                                                }
                                                            }

                                                        }
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        }

                }
            </table>
        </div>
    }

}
else
{
    <p>Book a spot in an event to have your schedule appear!</p>
}





@section Scripts
{
    <script>
        function openTab(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
}