@page
@model Coordinare.Pages.Events.GetAllEventsModel
@{
}
<a asp-page="/Events/Create">Create New Event</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Event ID
            </th>
            <th>
                Duration
            </th>
            <th>
                Room Id
            </th>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Event info
            </th>
            <th>
                Speaciel seats
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @item.Event_ID
                </td>
                <td>
                    @item.Duration
                </td>
                <td>
                    @item.Room_ID
                </td>
                <td>
                    @item.EventName
                </td>
                <td>
                    @item.DateTime
                </td>
                <td>
                    @item.Eventinfo
                </td>
                <td>
                    @item.SS_amount
                </td>
                <td><p><a asp-page="/Events/Info" asp-route-id="@item.Event_ID">See Details</a></p></td>
                <td><p><a asp-page="/Events/Delete" asp-route-id="@item.Event_ID">Delete</a></p></td>
            </tr>
        }
</table>