@page
@model Coordinare.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Create user";
}


<h3>Create user</h3>
<hr />
<div class="alert alert-warning" role="alert">
    @Model.InfoText
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.User.Name" class="control-label"></label>
                <input asp-for="@Model.User.Name" class="form-control" />
                <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Username" class="control-label"></label>
                <input asp-for="@Model.User.Username" class="form-control" />
                <span asp-validation-for="@Model.User.Username" class="text-danger"></span>
            </div>
            @*Måske lave password om til autogenereret*@
            <div class="form-group">
                <label asp-for="@Model.User.Password" class="control-label"></label>
                <input asp-for="@Model.User.Password" class="form-control" />
                @*<span asp-validation-for="User.Password" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="@Model.User.Password2" class="control-label"></label>
                <input asp-for="@Model.User.Password2" class="form-control" />
                <span asp-validation-for="User.Password2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.User.Phone" class="control-label"></label>
                <input asp-for="@Model.User.Phone" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Email" class="control-label"></label>
                <input asp-for="@Model.User.Email" class="form-control" />
                <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Speaker" class="control-label"></label>
                <input type="radio" asp-for="@Model.User.Speaker" value="true" />Yes
                <input type="radio" asp-for="@Model.User.Speaker" value="false" />No
                <span asp-validation-for="@Model.User.Speaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Specialaid" class="control-label"></label>
                <input type="radio" asp-for="@Model.User.Specialaid" value="true" />Yes
                <input type="radio" asp-for="@Model.User.Specialaid" value="false" />No
                <span asp-validation-for="@Model.User.Specialaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Admin" class="control-label"></label>
                <input type="radio" asp-for="@Model.User.Admin" value="true" />Yes
                <input type="radio" asp-for="@Model.User.Admin" value="false" />No
                <span asp-validation-for="@Model.User.Specialaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />&nbsp; | &nbsp;
                <a asp-page="./GetAllUsers">Back to the overview</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}