@page
@using Coordinare.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .dot {
        height: 15px;
        width: 15px;
        background-color: #ccc;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<div style="padding-left:42%">
    <a asp-page="/Index"><img src="/Images/sikon-logo-ny-udgave-2021.png" style="max-height: 175px" alt="KonfLogo" /></a>
</div>
<br />
@*Lige nu er billederne og teksten til dem puttet ind manuelt,
    men i fremtiden kan man overveje at lave det om til at den tager fra events.
    I det tilfælde ville man tilføje et billede i modellen for Event.*@
<div id="carouselIndex" class="carousel slide w-50 mx-auto" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">
                <img class="d-block w-100" src="/Images/Christian-Stewart-Ferrer.png" alt="Christian Stewart-Ferrer">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Autism and the way to identity</h5>
                    <p>b/ Christian Stewart-Ferrer</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">
                <img class="d-block w-100" src="/Images/Dorthe-Holck.png" alt="Dorthe Hölck">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Misunderstood by the surroundings</h5>
                    <p>b/ Dorthe Hölck</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">
                <img class="d-block w-100" src="/Images/Mark-Wetherell.png" alt="Mark Wetherell">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Chronic stress in carers</h5>
                    <p>b/ Mark Wetherell</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">
                <img class="d-block w-100" src="/Images/Marie-Louise-Stochholm.png" alt="Marie Louise Stochholm">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Cooperation with the young and adult with autism</h5>
                    <p>b/ Marie Louise Stochholm</p>
                </div>
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndex" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndex" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
@*@if (Model.logService.GetLoggedInUser() != null)
{
    if (Model.BookedEvents != null && Model.BookedEvents.Count != 0)
    {
        <div>
            <h5>First events on your schedule</h5>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    @if (Model.DatesArrayList != null && Model.DatesArrayList.Count != 0)
                    {
                        <th>
                            @Model.DatesArrayList[0]
                        </th>
                        if (Model.DatesArrayList.Count > 1)
                        {
                            <th>
                                @Model.DatesArrayList[1]
                            </th>
                            if (@Model.DatesArrayList.Count > 2)
                            {
                                <th>
                                    @Model.DatesArrayList[2]
                                </th>
                            }
                            
                        }
                        
                    }
                    
                </tr>
                </thead>
                <tbody>
                    <tr>
                        @for (int i = 0; i < 3; i++)
                        {
                        <td>
                            Event: <a asp-page="/Events/Info" asp-route-id="@Model.BookedEvents[i].Event_ID">
                                @Model.BookedEvents[i].EventName
                            </a>
                            <br />
                            Room: @Model.BookedEvents[i].Room_ID
                        </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <br/>
        <p>Book a spot in an event to have events from your schedule appear!</p>
    }
}
